.checkout-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.checkout-panel {
  width: 35%;
  height: 100vh;
  background: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.checkout-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.checkout-item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.checkout-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.checkout-item-info {
  flex: 1;
}

.item-name {
  font-weight: 600;
}

.item-price {
  font-weight: bold;
}

.checkout-quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.delete-icon {
  margin-left: auto;
  cursor: pointer;
}

.checkout-summary {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-top: auto;
}

.checkout-btn {
  margin-top: 25px;
  padding: 14px;
  background: #c5f6a6;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.qty-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden; 
  height: 36px;
}

.qty-number {
  width: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.qty-btn {
  width: 36px;
  height: 36px;
  background: rgb(252, 249, 249);
  border: none;          
  border-radius: 0;      
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;

  justify-content: center;
  cursor: pointer;
}

