
.payment-container {
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.payment-top-panel {
    background: #c5f6a6;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand {
    text-align: center;
}

.brand-main {
    font-size: 2rem;
    font-weight: 400;
}

.brand-sub {
    font-size: 0.9rem;
    letter-spacing: 1px;
}


.payment-page {
    display: flex;
}


.payment-left {
    width: 60%;
    background: #c5f6a6;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment-left h3 {
    margin-top: 25px;
  
}

.payment-left input,
.payment-left select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
    font-size: 0.95rem;
}


.row {
    display: flex;
    gap: 12px;
}


.pay-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: grey;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.pay-btn:hover {
    opacity: 0.9;
}

.payFast-logo {
    height: 22px;
}

.payment-right {
    width: 40%;
    padding: 70px 60px;
}


.summary-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.summary-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.summary-text {
    flex: 1;
}

.product-name {
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-details {
    font-weight: 400;
    font-size: 0.85rem;
    color: #555;
}

.delivery-text {
    font-size: 0.85rem;
    color: #555;
}

.product-price {
    
    font-size: 0.85rem;
    font-weight: 600;
}

.totals {
    margin-top: 20px;
}


